<li>
  <div class="panel">
    <div class="panel-heading">
      <h3>{{post.title}}</h3> - <em>{{post.time}}</em>
    </div>
    <div class="panel-body">
      {{post.body}}
    </div>
  </div>
</li>
