<div class="well">
  <div class="row">
    <div class="mapDiv">
      <div id="map"></div>
      <p>
        If this is where you are then you need to update your security. The NSA is watching.
      </p>
    </div>
    <button {{action 'log' model}} class="btn btn-danger">Check Your Security</button>
  </div>
</div>
